@charset "utf-8";
/* CSS Document */
body{
	font-family:"MS Serif", "New York", serif, "微軟正黑體";
    margin: 0px;
	font-size:20px;
}
body a,body a:visited,body a:hover,body a:active{
    color: rgb(0,0,0);
    text-decoration: none;
    display: inline-block;
	/*width:100%;*/
}
body a:focus {
    border: 3px solid rgb(12, 177, 255);
}
form input[type="text"]:focus,form input[type="password"]:focus{
	background-color:rgb(179, 220, 255);
}
.collectionBlock a{
	color:rgb(0, 65, 146);
}
.fixBar{
    height: 100px;
    border-bottom-color: rgba(1, 1, 1, 0.42);
    border-bottom-style: solid;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    background: rgb(255, 255, 255);
}
#toMain{
	position:fixed;
	color:rgba(255,255,255,0);
	width:unset;
}
#toMain:focus{
	color:rgb(0,0,0);
}
.fixBarContent{
    width: 70%;
    margin: auto;
    /*max-width: 1000px;
    min-width: 980px;*/
	max-width: 1030px;
}
.fixBarTitle{
    display: inline-block;
    height: 75px;
    width: 400px;
    margin-top: 12px;
    background-image: url(../Image/zh-tw-Title.png);
    background-size: cover;
}
.fixBarList{
    display: inline-block;
    padding-top: 40px;
}
.otherItem{
      position: fixed;
    padding: 5px;
    right: 0px;
    border-radius: 0px 0px 10px 10px;
    background: rgba(181, 228, 209, 0.8);
}
.otherItem a{
    margin: 0px 15px;
    width: unset !important;
}
.fixBarItem{
    margin-right: 10px;
    float: left;
    height: 50px;
    line-height: 50px;
}
.fixBarItem a{
	text-decoration:none;
}
.selectionList{
	display:none;
    position: absolute;
    margin-left: -10px;
    background-color: rgba(218, 255, 224, 0.89);
    border-bottom: solid 2px;
    border-right: solid 2px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.fixBarItem:hover .selectionList{
	display:block;
}
.selections{
    display: block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.mainImage{
    margin-top: 100px;
    background: url(../Image/橫幅.jpg);
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.mainImage img{
	width:100%;
}
#centerImage{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../Image/橫幅.jpg);
}
#mainBrick{
	display:block;
	width:60px;
	margin:auto;
	text-align:center;
}
.Brick[accesskey]{
	color:rgb(255,255,255);
}
.Brick[accesskey]:focus{
	color:rgb(0,0,0);
}
.mainBlock{
    width: 100%;
    top: 408px;
}
.mainBlock h1{
	text-align:center;
}
.accessinfo{
    display:  block;
    text-align:  center;
    margin: auto;
}
.mainBlockContent{
    width: 90%;
    margin: auto;
    padding: 10px;
    max-width: 1200px;
    box-sizing: border-box;
}
.mainBlockContent map a {
    display: inline;
}
.mainBlockContent map a:focus {
    border:none;
}
.mainBlockContent map a:focus .guideItem {
    border: 3px solid rgb(12, 177, 255);
}

.mainBlockContent map{
	display:block;
}
.modfix a,.modfix a:visited{
	color:rgb(0, 76, 255);
}
.modfix a:hover{
	color:rgb(0, 0, 0);
}
.newsBlocks{
    background: rgb(228, 255, 231);
    padding: 40px;
    border-radius: 6px;
}
.newsBlocksWrap{
    margin: 1.666%;
    width: 30%;
    display: inline-block;
    box-shadow: 5px 5px 10px rgb(82, 173, 208);
    box-sizing: border-box;
    border-radius: 6px;
    background: rgb(228, 255, 231);
}
.newsBlocks label{
	cursor:pointer;
}
.newsImage{
    margin-bottom: -5px;
}
.newsImage img{
	width:100%;	
}
.newsContent{

}
.newsTitle{
	font-size:16px;
}
.newsDate{
	font-size:14px;
}
.pageSelect{
	text-align:center
}
.pageSelect span{
	display:inline-block;
     margin: 0px 5px;
	
}
.footer{
    margin: 0px;
    margin-top: 40px;
    position: relative;
    background: rgb(4, 70, 0);
    padding: 40px 0px;
}
.footerContent{
    display: block;
	max-width: 1000px;
    width: 70%;
    margin: auto;
}
.about{
    color: rgb(255,255,255);
    display: inline-block;
	position:relative;
	width:60%;
	vertical-align:top;
}
.panel{
    color: rgb(255,255,255);
    display: inline-block;
    display:relative;
	width:30%;
	vertical-align:top;
}
.panel p{
    color: rgb(255,255,255);
}
.footerContent .panel a{
    color: rgb(255,255,255);
	text-decoration:none;
}
.floatingPanel{
    display: block;
    position: fixed;
    width: 130px;
    height: 60px;
    right: 10px;
    bottom: 10px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-radius: 5px;
    padding: 11px;
    line-height: 36px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(203, 255, 187, 0.67);
}
.floatingControls{

}
.addNewsForm{
    display: block;
    width: 95%;
    margin: auto;
    max-width: 1000px;
    background: rgb(78, 234, 206);
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 50px;
    padding-bottom: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgb(82, 173, 208);
}
.addNewsForm input[type=text]{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    display: block;
    border: solid 2px rgb(0, 138, 9);
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}
.addNewsForm input[type=date]{
    height: 40px;
    border-radius: 5px;
    display: block;
    border: solid 2px rgb(0, 138, 9);
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}
.addNewsForm textarea{
    width: 100%;
    resize: none;
    height: 400px;
    box-sizing: border-box;
    border: solid 2px rgb(0, 138, 9);
    border-radius: 5px;
}
.addNewsForm .Cancel,.addNewsForm input[type=submit]{
    display: inline-block;
    height: 40px;
    width: 60px;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 2px rgb(0, 138, 9);
    line-height: 40px;
    text-align: center;
    float: right;
    font-size: 15px;
    padding: 0px;
    margin-left: 10px;
    background: rgb(30, 189, 59);
    color: white;
    cursor: pointer;
}
.addNewsForm .controls{
	margin-bottom:5px;
	min-height:40px;
}
.addNewsForm .controls a{
	display:inline !important;
}
.newsPageTitle{
	
}
.mainBlockContent .newsPageTitle{
	text-align:left;
}
.newsPageDate{
	
}
.newsPageContent{
	word-break:break-all;
}
.newsPageContent a{
	color:rgb(0, 73, 245)!important
}
.delNewsA{
	
}
.newsPageImg{
    margin-bottom: 15px;
}
.newsPageImg img{
    max-height: 600px;
	max-width:100%;
}
.downloadBtn{
    display: block;
    box-sizing: border-box;
    border: solid 1px rgb(0, 0, 0);
    margin: 0px;
    border-radius: 3px;
    padding: 15px;
    background: rgb(96, 226, 196);
}
.informationBlock{
	
}
.fileBlock{
    display: inline-block;
}


.guideItem{
    display: inline-block;
    width: 30%;
    padding: 5px;
    margin: 1%;
    border: solid 1px;
    border-radius: 3px;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgb(57, 179, 162);
}
.guideItem label{
	cursor:pointer;
}
.introductionBlock img{
    width: 100%;
	max-width:200px;
}
.consultationBlcok img{
	width:100%;
}
.collectionBlock table{
	width:100%;
}
.collectionBlock table th{
    background: rgb(239, 204, 138);
}
.collectionBlock table tr:nth-child(1){
    background: rgb(239, 204, 138);
}
.collectionBlock table tr:nth-child(2n+3){
    background: rgb(208, 245, 255);
}
.collectionBlock table tr:nth-child(2n){
    background: rgb(246, 255, 246);
}
.lastUpdate{
	text-align:center;
}





.messageBox{
    display: block;
    position: fixed;
	width:100%;
    max-width: 360px;
    height: 240px;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: 300px;
    border: solid 1px;
    border-radius: 6px;
    background: rgba(255,255,255,1);
    padding: 30px;
    box-sizing: border-box;
	overflow:hidden;
}
.messageBox form{
	width:298px;
}
#msgBoxTitle{
    display: block;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 18px;
}
.messageBox input[type=text],.messageBox input[type=password],.messageBox input[type=number],.messageBox input[type=date]{
    display: block;
    width: 282px;
    margin-bottom: 8px;
    margin-right: 44px;
    border-radius: 5px;
    height: 30px;
    border: solid rgb(65, 119, 189);
    padding-left: 10px;
}
.messageBox input[type=submit],.cancelBtn{
    text-align: center;
    float: right;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    height: 36px;
    background: rgb(65, 119, 189);
    width: 52px !important;
    font-size: 16px;
    color: rgb(255,255,255);
    cursor: pointer;
	margin-left:8px;
}
.messageBox .cancelBtn{
	line-height:36px;
	color:rgb(255,255,255);
     box-sizing: border-box;
}
.messageBox input[type=submit]:hover,.cancelBtn:hover{
	background: rgb(51, 96, 154);
}
.messageBox input[type=submit]:focus,.cancelBtn:focus{
    border: 3px solid rgb(12, 177, 255);
}



@media (max-width: 1450px) {
	.fixBar{
		height:auto;
		position:relative;
	}
	.mainImage{
		margin-top:0px;
	}
	.otherItem{
		position:relative;
		float:right;
		right:0px;
	}
	.fixBarTitle{
		background-size: contain;
		background-repeat: no-repeat;
	}
	.about{
		width:100%;
	}
	.panel{
		width:100%;
	}
	.guideItem{
		width:45%;
		margin:2%;
	}
}
@media (max-width: 800px) {
	.fixBarTitle{
		width:250px;
		height:50px;
	}
	.fixBarContent{
		width:95%;
	}
	.fixBarList{
		padding-top:0px;
	}
	.newsBlocksWrap{
		width: 45%;
	}
	.guideItem{
		display:block;
		width:70%;
		margin:auto;
		margin-top: 15px;
	}
}
@media (max-width: 540px) {
	.newsBlocksWrap{
		width:96%;
	}
	.messageBox{
		margin-top:40px;
	}
}
@media (max-width: 460px) {
	table img{
		display:none;
	}
}