@charset "utf-8";
/* CSS Document */
body{
	font-family:"微軟正黑體";
    background: rgb(255, 247, 236);
}
.TopBar{
    position: relative;
    top: -8px;
    width: 1000px;
    height: 247px;
    margin: auto;
    padding-right: 0px;
}
#maintitle{
    display: block;
    position: absolute;
    z-index: 1;
    height: 95px;
    margin-left: 40px;
    margin-top: 100px;
}
#maintitleback{
    display: block;
    position: relative;
    z-index: -1;
    height: 209px;
    margin: auto;
}
.TitleImage{
    margin: auto;
}
.NavigationBar{
    float: left;
    /* height: 600px; */
    width: 200px;
    box-sizing: border-box;
    background: rgb(215, 246, 251);
    margin-bottom: 10px;
}
.NavSelection{
    float: left;
    width: 200px;
    /* height: 60px; */
    /* background: rgb(255,255,255); */
    line-height: 35px;
    /* text-align: center; */
    color: rgb(0,0,0);
    /* margin-top: 10px;*/
	border-radius:5px;
}
.NavigationBar a:focus .NavSelection{
	background: rgb(147, 205, 255);
}
.NavigationBar a:hover .NavSelection{
	background: rgb(147, 205, 255);
}
.NavigationBar a:focus .DropDownItem{
	background: rgb(147, 205, 255);
	}
.NavSelection a{
	color:rgb(0,0,0);
	text-decoration:none;
}
.NavSelection img,.NavigationBar img {
    width: 25px;
    float: left;
    margin: 5px;
}
.NavSelection:hover .Dropdown{
    position: absolute;
    margin-left: 200px;
    margin-top: -35px;
    display: block;
}
.Dropdown{
	display:none;
}
.innerSpan:focus{
	background: rgb(147, 205, 255);
}
.innerSpan{
	display:block;
}
.NavSelection:hover{
	background: rgb(147, 205, 255);
}
.CenterBlock{
	height:600px;
    width: 580px;
    /*background-image: url(../Image/001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;*/
	float:left;
    box-sizing: border-box;
    overflow: hidden;
	margin:0px 5px;
}
.MaskBlock{
	margin:auto;
    overflow: hidden;
}
.NewsListBlock{
    width: 640px;
    margin: auto;    height: 510px;
    box-sizing: border-box;
    padding: 60px;
    padding-top: 0px;
    color: rgb(0,0,0);
    overflow-y: scroll;
}
.NewsListBlock h4{
    margin-top: 30px;
    margin-bottom: 5px;
}
.NewsListBlock a{
	color:rgb(0,0,0);
	text-decoration:none;
}
.NewsListBlock a:hover,.footer a:hover{
    color: rgb(232, 146, 34);
}
.NewsListList h4{
    margin-bottom: 5px;
}
.imgPreview{
	display:none;
}
.NewsListBlock a:hover .imgPreview{
    display: block;
    position: absolute;
    padding: 5px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgb(191, 208, 118);
    border-radius: 5px;
}
.imgPreview img{
    max-width: 360px;
    max-height: 360px;
}
.DropDownItem:hover{
    background: rgb(210, 230, 255);
}
.DropDownItem {
    width: 120px;
    display: block;
    background: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
	border-radius:5px;
	padding-left:10px;
}
.footer {
    display: block;
    width: 1000px;
    height: 150px;
    background: rgb(31, 13, 0);
    margin: auto;
    color: rgb(255,255,255);
    padding: 5px;
    box-sizing: border-box;
}
.footer .Info{
    text-align: right;
    position: relative;
    top: 75px;
    margin-right: 20px;
}
.footer a{
    display: block;
    color: rgb(255,255,255);
    width: 80px;
    text-decoration: none;
    margin-top: -21px;
    float: right;
}
.SinglePageBlock{
    display: block;
    /* margin: -60px; */
    /* padding: 15px; */
    width: 600px;
    /* padding-right: 60px; */
    height: 600px;
    overflow-y: scroll;
}
.SinglePageTitle{
    margin-top: 0px;
    font-size: 52px;
    margin-left: 20px;
    letter-spacing: 25px;
}
.introductionContent{
    width: 580px;
    margin: auto;
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.introductionContent h3{
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
}
.introductionContent p,ol{
    font-size: 18px;
    margin-bottom: 26px;
}
.introductionContent a{
	text-decoration:none;
	color:rgb(255,255,255);
}
.introductionContent table img{
	width:110px;
}
.introductionContent table li{
	font-size:18px;
}
.MapBlock{
    padding-top: 100px;
    padding-left: 50px;
	padding-bottom: 30px;
}
.MapBlock a{
    text-decoration: none;
}
.MapBlock a:focus .MapItem{
	background:rgba(0,0,0,0.38);
}
.MapItem:hover{
	background:rgba(0,0,0,0.38);
}
.MapItem{
    display: inline-block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    /* font-size: 32px; */
    text-align: center;
    color: rgb(0,0,0);
}
.MapItem .linksIcon{
    margin: 0px;
    margin-left: 25px;
    margin-top: 15px;
    width: 30px;
    height: 30px;
    margin-right: -30px;
}
.messageBox{
    display: block;
    position: absolute;
    width: 360px;
    height: 240px;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: 300px;
    border: solid 1px;
    border-radius: 6px;
    background: rgba(255,255,255,1);
    padding: 30px;
    box-sizing: border-box;
	overflow:hidden;
}
.messageBox form{
	width:298px;
}
#msgBoxTitle{
    display: block;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 18px;
}
.messageBox input[type=text],input[type=password],input[type=number],input[type=date]{
    display: block;
    width: 282px;
    margin-bottom: 8px;
    margin-right: 44px;
    border-radius: 5px;
    height: 30px;
    border: solid rgb(65, 119, 189);
    padding-left: 10px;
}
.messageBox input[type=submit],.cancelBtn{
    text-align: center;
    float: right;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    height: 36px;
    background: rgb(65, 119, 189);
    width: 52px;
    font-size: 16px;
    color: rgb(255,255,255);
    cursor: pointer;
	margin-left:8px;
}
.cancelBtn{
	line-height:36px;
}
.messageBox input[type=submit]:hover,.cancelBtn:hover{
	background: rgb(51, 96, 154);
}
#addNewsA{
    margin-top: 20px;
    display: inline-block;
}
.LargeBox{
    height: 480px;
}
.inputGroup{
	
}
.msgBoxMaskBlock{
	height:418px;
    padding-right: 70px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 298px;
}
.mainBlock{
    width: 1000px;
    box-sizing: border-box;
    height: 600px;
    margin: auto;
}
.LinkBlock{
    width: 170px;
    float: left;
    margin-left: 5px;
    margin-bottom: 15px;
}
.LinkBlock .smalllinkblock{
	width:100%;
	margin:5px 0px 5px 0px;
	float:none;
}
.colorblock{
    display: block;
    height: 25px;
    background: -webkit-linear-gradient(top,rgb(147, 225, 255) 70%,rgb(32, 164, 247) 100%);
    border-radius: 5px;
    padding-left: 10px;
}
.smalllinkblock{
    display: none;
    float: left;
    width: 80%;
    background: rgb(0,0,0);
    margin-left: 20px;
    height: 2px;
}
.distinct{
    float: left;
    width: 5px;
    margin: 30px 5px;
    height: 540px;
    background: rgba(0,0,0,0);
	padding:0px;
}
.blockTitle{
    float: left;
    width: 240px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: rgb(0,0,0);
    margin: 10px 0px 0px 10px;
}
.blockTitle img{
    width: 50px;
    float: left;
    margin: 5px;
}
.blockTitle h2{
	font-size:28px;
	margin:0px;
}
.linksTitle{
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.links a {
    text-decoration: none;
    color: rgb(0,0,0);
    line-height: 20px;
}
.links {
    float: left;
    margin-top: 6px;
    width: 170px;
    font-size: 15px;
}
.linksIcon{
    float: left;
    display: block;
    width: 10px;
    height: 20px;
    background: rgb(72, 181, 224);
    margin-left: 8px;
    margin-right: 5px;
}
.relativeLink .linksIcon{
	display:none;
}
.relativeLink a{
	line-height:normal;
}
.relativeLink .links{
	width:auto;
	padding-left:5px;	
}
.HorNavigation{
    height: 20px;
    background: rgb(175, 56, 0);
    text-align: center;
}
.HorItem{
    color: rgb(255,255,255);
    margin: 10px;
}
.leftBlock{
    width: 200px;
    height: 600px;
    float: left;
    margin-right: 5px;
}
.colletiontable{
	width:100%;
	padding:15px;
	padding-top:10px;
	padding-bottom:60px;
}
.colletiontable th{
	background:rgb(253, 221, 126);
}
.counsulationblock {
	padding-bottom:60px;
}
.counsulationblock img{
	width:100%;
}
.outlineblock{
    float: left;
    /* margin: 10px; */
    width: 100%;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 60px;
}
.testRegulationBlock{
    float: left;
    padding: 10px 30px 60px 25px;
}