@charset "utf-8";
/* CSS Document */
body{
	font-family:"微軟正黑體";
}
.MainTitle{
    position: relative;
    width: 900px;
    margin: auto;
    height: 220px;
    margin-top: 300px;
    color: rgb(255, 255, 255);
}
.LanguageSelection{
    position: relative;
    text-align: center;
    top: 80px;
	margin:auto;
	width:900px;
	margin-bottom:200px;
}
.LanguageSelection a{
	text-decoration:none;
	font-weight:bold;
}
.LanguageSelection a:link{
	color:rgba(255,255,255,1);
}
.LanguageSelection a:visited{
	color:rgba(255,255,255,1);
}
.LanguageSelection a:hover{
	color:rgba(255,255,255,1);
}
.LanguageSelection a:active{
	color:rgba(255,255,255,1);
}
.LanguageSelection span{
	height:10px;
	width:0px;
	border:1px solid rgba(255,255,255,1);
	margin:0px 20px;
}
.Background{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*background: url(../../CourseJudge/Doge_Wallpaper_Clear.png);
    background-repeat: no-repeat;
    background-position: center center;*/
	background-color:rgba(111,111,111,1);
    z-index: -1;
}
.icon-Block{
    position: absolute;
    display: inline-block;
    width: 220px;
    height: 220px;
    box-sizing: border-box;
    border: 10px rgb(255, 255, 255) solid;
    font-size: 40px;
    text-align: center;
}
.icon-Block h1{
    font-size: 80px;
    line-height: 100px;
    font-weight: bold;
    margin: 0px;
}
.word-Title{
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    left: 220px;
    height: 220px;
    width: 680px;
    text-align: center;
}
#ChineseTitle{
    font-size: 75px;
    margin-top: 45px;
    font-weight: bold;
    display: block;
}
#EnglishTitle{
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;
    display: block;
}