@charset "utf-8";
/* CSS Document */
body{
	font-family:"MS Serif", "New York", serif, "微軟正黑體";
    margin: 0px;
	font-size:20px;
}
body a,body a:visited,body a:hover,body a:active{
	color:#000;
    text-decoration: none;
}
.fixBar{
    height: 100px;
    border-bottom-color: rgba(1, 1, 1, 0.42);
    border-bottom-style: solid;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    background: rgb(255, 255, 255);
}
.fixBarContent{
    width: 70%;
    margin: auto;
    max-width: 1000px;
    min-width: 880px;
}
.fixBarTitle{
    display: inline-block;
    height: 75px;
    width: 400px;
    margin-top: 12px;
    background-image: url(../Image/zh-tw-Title.png);
    background-size: cover;
}
.fixBarList{
    display: inline-block;
    padding-top: 40px;
    float: right;
}
.otherItem{
    position: absolute;
    margin-left: -200px;
    padding: 5px;
    top: -1px;
    border: 1px solid;
    border-radius: 0px 0px 10px 10px;
}
.otherItem a{
    margin: 15px;
}
.fixBarItem{
    margin-right: 10px;
    float: left;
    height: 50px;
    line-height: 50px;
}
.fixBarItem a{
	text-decoration:none;
}
.selectionList{
	display:none;
    position: absolute;
    margin-left: -10px;
    background-color: rgba(218, 255, 224, 0.89);
    border-bottom: solid 2px;
    border-right: solid 2px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.fixBarItem:hover .selectionList{
	display:block;
}
.selections{
    display: block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.mainImage{
    margin-top: 100px;
    width: 100%;
}
.mainImage img{
	width:100%;
}
#centerImage{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../Image/橫幅.jpg);
}
.mainBlock{
    width: 100%;
    top: 408px;
}
.mainBlock h1{
	text-align:center;
}
.mainBlockContent{
    width: 90%;
    margin: auto;
    padding: 10px;
    max-width: 1200px;
    min-width: 880px;
}
.newsBlocks{
    background: rgb(228, 255, 231);
    padding: 40px;
    border-radius: 6px;
}
.newsBlocksWrap{
    margin: 1.666%;
    width: 30%;
    display: inline-block;
    box-shadow: 5px 5px 10px rgb(82, 173, 208);
    box-sizing: border-box;
    border-radius: 6px;
}
.newsBlocks label{
	cursor:pointer;
}
.newsImage{
    margin-bottom: -5px;
}
.newsImage img{
	width:100%;	
}
.newsContent{

}
.newsTitle{
	font-size:16px;
}
.newsDate{
	font-size:14px;
}
.footer{
    margin: 0px;
    margin-top: 40px;
    position: relative;
    height: 200px;
    background: rgb(4, 70, 0);
    width: 100%;
    padding-top: 40px;
}
.footerContent{
    display: block;
    min-width: 880px;
	max-width: 1000px;
    width: 70%;
    margin: auto;
}
.about{
    color: rgb(255,255,255);
    display: block;
    float: left;
    min-width: 510px;
}
.panel{
    color: rgb(255,255,255);
    display: inline-block;
    float: left;
}
.panel p{
    color: rgb(255,255,255);
}
.footerContent .panel a{
    color: rgb(255,255,255);
	text-decoration:none;
}
.floatingPanel{
    display: block;
    position: fixed;
    width: 130px;
    height: 60px;
    right: 10px;
    bottom: 10px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-radius: 5px;
    padding: 11px;
    line-height: 36px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(203, 255, 187, 0.67);
}
.floatingControls{

}
.addNewsForm{
    display: block;
    width: 70%;
    margin: auto;
    max-width: 1000px;
    min-width: 880px;
    background: rgb(78, 234, 206);
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 50px;
    padding-bottom: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgb(82, 173, 208);
}
.addNewsForm input[type=text]{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    display: block;
    border: solid 2px rgb(0, 138, 9);
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}
.addNewsForm input[type=date]{
    height: 40px;
    border-radius: 5px;
    display: block;
    border: solid 2px rgb(0, 138, 9);
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}
.addNewsForm textarea{
    width: 100%;
    resize: none;
    height: 400px;
    box-sizing: border-box;
    border: solid 2px rgb(0, 138, 9);
    border-radius: 5px;
}
.addNewsForm .Cancel,.addNewsForm input[type=submit]{
    display: inline-block;
    height: 40px;
    width: 60px;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 2px rgb(0, 138, 9);
    line-height: 40px;
    text-align: center;
    float: right;
    font-size: 15px;
    padding: 0px;
    margin-left: 10px;
    background: rgb(30, 189, 59);
    color: white;
    cursor: pointer;
}
.addNewsForm .controls{
	margin-bottom:5px;
	min-height:40px;
}
.newsPageTitle{
	
}
.mainBlockContent .newsPageTitle{
	text-align:left;
}
.downloadContent .guideItem{
	font-size:20px;
}
.newsPageDate{
	
}
.newsPageContent{
	word-break:break-all;
}
.delNewsA{
	
}
.newsPageImg{
    margin-bottom: 15px;
}
.newsPageImg img{
    max-height: 600px;
	max-width:100%;
}
.downloadBtn{
    display: block;
    box-sizing: border-box;
    border: solid 1px rgb(0, 0, 0);
    margin: 0px;
    border-radius: 3px;
    padding: 15px;
    background: rgb(96, 226, 196);
}
.informationBlock{
	
}
.fileBlock{
    width: 112px;
}

.guideItem{
    display: inline-block;
    width: 20%;
    margin: 2.3%;
    height: 100px;
    border: solid 1px;
    border-radius: 3px;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px rgb(57, 179, 162);
}
.guideItem label{
	cursor:pointer;
}
.introductionBlock td img{
    width: 200px;
}
.consultationBlcok img{
	width:100%;
}
.collectionBlock table{
	width:100%;
}
.collectionBlock table th{
    background: rgb(239, 204, 138);
}
.collectionBlock table tr:nth-child(1){
    background: rgb(239, 204, 138);
}
.collectionBlock table tr:nth-child(2n+3){
    background: rgb(246, 253, 255);
}
.collectionBlock table tr:nth-child(2n){
    background: rgb(246, 255, 246);
}
.managerTab{
	width:600px;
}
.managerTab tr:nth-child(1){
	background: rgb(100, 158, 126);
}
.managerTab tr:nth-child(2n+3){
	background: rgb(212, 239, 224);
}
.managerTab tr:nth-child(2n){
	
}
.lastUpdate{
	text-align:center;
}




.messageBox{
    display: block;
    position: fixed;
    width: 360px;
    height: 240px;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: 300px;
    border: solid 1px;
    border-radius: 6px;
    background: rgba(255,255,255,1);
    padding: 30px;
    box-sizing: border-box;
	overflow:hidden;
}
.messageBox form{
	width:298px;
}
#msgBoxTitle{
    display: block;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 18px;
}
.messageBox input[type=text],.messageBox input[type=password],.messageBox input[type=number],.messageBox input[type=date]{
    display: block;
    width: 282px;
    margin-bottom: 8px;
    margin-right: 44px;
    border-radius: 5px;
    height: 30px;
    border: solid rgb(65, 119, 189);
    padding-left: 10px;
}
.messageBox input[type=submit],.cancelBtn{
    text-align: center;
    float: right;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    height: 36px;
    background: rgb(65, 119, 189);
    width: 52px;
    font-size: 16px;
    color: rgb(255,255,255);
    cursor: pointer;
	margin-left:8px;
}
.messageBox .cancelBtn{
	line-height:36px;
	color:rgb(255,255,255);
}
.messageBox input[type=submit]:hover,.cancelBtn:hover{
	background: rgb(51, 96, 154);
}